
.animated-border-quote {
    display:block;
    margin: 1rem auto;
    max-width:20em;
    overflow:hidden;
    blockquote {
      background-color:#fff;
      border: solid 2px #b81f92;
      display: inline-block;
      margin: 0;
      padding: 1em;
      position: relative;
      &:before {
        animation:clockwise 30s infinite linear;
        background-color: #fff;
        bottom:10%;
        content: "";
        left: 0;
        opacity:.5;
        position: absolute;
        right: 0;
        top:10%;
      }
      &:after {
        animation:counter 30s infinite linear;
        background-color: #fff;
        bottom:10%;
        content: "";
        left: 0;
        opacity:.5;
        position: absolute;
        right: 0;
        top:10%;
      }
      cite {
        display: block;
        font-style: italic;
        text-align: right;
        &:before {
          content: "- ";
        }
      }
      > * {
        position: relative;
        z-index: 1;
      }
    }
  }
  
  @keyframes clockwise {
    0% {
      transform:rotate(0);
    }
    100% {
      transform:rotate(360deg);
    }
  }
  
  @keyframes counter {
    0% {
      transform:rotate(0);
    }
    100% {
      transform:rotate(-360deg);
    }
  }