@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,700);
*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
}
html,body {
  width: 100%;
  min-height: 100%;
  overflow:hidden;
  min-height: 99vh;
}

body {
  background: linear-gradient( to right, rgb(112 143 181), rgb(46 50 173), rgb(116 110 171) );
}

html {
  box-sizing: border-box;
}
body {
  background-color: #1a181b;
  color: #1a181b;
  font-size: 18px;
  font-family: Work Sans, sans-serif;
}
.App {
  text-align: center;
}
.App-header {
  min-height: 20vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 80%;
  color: #f1eef1;
  margin: 0 auto;
}
.App-header h1 {
  font-size: 52px;
}
.wrapper {
  min-height: 90vh;
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 620px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  padding-bottom: 32px;
  background: rgb(26 29 128 / 45%);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
#to-do-list p {
  color: #f1eef1;
}
ul {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li,
ul {
  display: -webkit-flex;
  display: flex;
  color: #1a181b;
  background-color: transparent!important;
}
li {
  padding: 15px;
  margin: 10px auto;
  -webkit-align-items: center;
  align-items: center;
  width: 95%;
  border-radius: 20px;
  background-color: #637cb4;
  color: #f1eef1;
}
li span {
  width: 50%;
  text-transform: uppercase;
  text-align: left;
}
li .buttons {
  width: 50%;
  justify-self: flex-end;
}
